.popularOtherItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1E2538;
  padding: 0 0 20px 0;
  &:last-child {
    border: none;
  }
  .itemLeft {
    h4 {
      font-family: var(--font-qanelasBold);
      color: var(--white-color);
      font-size: 20px;
    }
    h5 {
      font-family: var(--font-qanelasSemiBold);
      font-size: 14px;
      color: var(--darkText-color);
    }
    span {
      font-family: var(--font-qanelasRegular);
      font-size: 14px;
      color: var(--yellow-color);
    }
  }
  .itemRight {
    span {
      color: var(--yellow-color);
      font-size: 14px;
      font-family: var(--font-qanelasSemiBold);
    }
  }
}