.sectionCurrentMovies {
  .moviesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 21px;
    margin: 65px 0 0 0;
  }
  .moviesAll {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    button {
      color: var(--white-color);
      font-family: var(--font-qanelasBold);
      font-size: 18px;
      border: 2px solid var(--white-color);
      width: 200px;
      height: 71px;
      background: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}